body{
    font-family: 'Rock Salt', cursive;
    background-image: url('art.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.90em;
}
p{
    font-size: 30px;
}
h1{
    display: flex
    justify-content: center;
    font-size: 100px;
    font-weight: 400;
}
#blanks{
    text-size:30px;
    display: flex;
    justify-content: center;
    font-family: font-family: 'Rock Salt', cursive;
}

#btn{
     padding: 10px;
     background-color: aqua;
}
