body{
    font-family: fantasy , cursive;
    background-image: url('art.jpg');
    background-size: cover;
    background-position: center;

}
p{
    font-size: 30px;
}
h1{
    display: flex
    justify-content: center;
    font-size: 100px;
    font-weight: 900;
}
#blanks{
    text-size:30px;
    display: flex;
    justify-content: center;
    font-family: fantasy , cursive;
    border-radius: 20px;
}

#btn{

     padding: 10px;
     background-color: aqua;
}
